.container
{
	width:400px;
	padding-top:15px;
}

.active
{
	font-weight: bolder;
}

.right
{
	float:right;
}

.unselected
{
	opacity: 0.5;
}

.scrape-image
{
	cursor: pointer;
}

#drag
{
	text-align: center;
}

ul 
{
	list-style: none;
	margin:0;
	padding:0;
	border:0;
}

li
{
	width:50px;
	line-height: 50px;
	cursor:pointer;
	text-transform: uppercase;
}

img
{
	padding: 5px;
	width:100px;
}